
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #eff3f6;
    font-family: fangsong;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: revert;
    margin: 10% 30%;
    background: white;
    height: auto;
    filter: drop-shadow(2px 4px 6px lightgray);
}

.div-wrap {
    text-align: center;
    margin-top: inherit;
    margin: 50px 0px;
}

input#input-todos {
    width: 350px;
    padding: 5px;
    margin: 15px 0px 15px 15px;
}

input#input-todos:active, input#input-todos:visited, input#input-todos:focus  {

    border: solid lightskyblue;
    background: #a5d3f6;
}
input#submit-todos {
    width: 85px;
    padding: 7px;
    border: none;
    margin-right: 5px;
    background: #ff719f;
}

input#submit-todos:hover{
    background: #a5d3f6;
}

li {
    border: 1px solid transparent;
    padding: 10px;
    background: lightgray;
    margin: 10px 0px;
    list-style: none;
}

a.remove {
    font-variant-caps: all-small-caps;
    text-decoration: none;
    margin-left: 50%;
}

a.date {
    font-size: 12px;
    margin-left: 10px;
    color: white;
    background: green;
    border-radius: 25px;
    padding: 5px 10px;
}


@media only screen and (max-width: 1181px) {
    
    input#submit-todos {
        width: 350px;
        margin: 0px 0px 15px 15px;
        background: #ff719f;
    }

    li {
        width: -webkit-fill-available;
        margin: 30px;
    }

    a.date {
        font-size: 8px;
        margin-left: 5px;
        color: white;
        background: green;
        border-radius: 25px;
        padding: 3px 10px;
    }
  }
  
  @media only screen and (max-width: 975px) {
    
    input#submit-todos {
        width: 250px;
        background: #ff719f;
    }
    input#input-todos {
        width: 250px;
    }

    .container {
        margin: 10% 20%;
    }

    li {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    a.remove {
        margin-left: 0%;
        background: #ff719f;
        width: 26%;
        margin: 10px;
    }
    
  }


  @media only screen and (max-width: 500px) {

    .container {
      
        margin: 10% 10%;
       
    }

}
    
  @media only screen and (max-width: 370px) {

    .container {
      
        margin: 10% 2%;
       
    }
}
    